<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Class work</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>
<body>
<h1 th:text="#{msg.homepage}"></h1>
<h1 th:text="${heading}"/>
<h2 th:text="${sum}"/>
<form action="#" th:action="@{/sum}" th:object="${sumForm}" method="post">
    <div class="row">
        <div class="form-group col-md-6">
            <label for="number1" class="col-form-label">Number 1</label>
            <input type="number" th:field="*{number1}" class="form-control" id="number1" placeholder="Number1">
            <span th:if="${#fields.hasErrors('number1')}" th:errors="*{number1}" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label for="number2" class="col-form-label">Number 2</label>
            <input type="number" th:field="*{number2}" class="form-control" id="number2" name="number2" placeholder="Number 2">
            <span th:if="${#fields.hasErrors('number2')}" th:errors="*{number2}" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mt-5">
            <input type="submit" class="btn btn-primary" value="Calculate">
        </div>
    </div>
</form>
<br/>
<h2>History</h2>
<div th:each="h : ${history}">
    <h6 th:text="${h.sum}"></h6>
</div>
<br/>
<a href="/random">Generate random number</a>
</body>
</html>